<div class="form-container">
  @if (customer) {
  <div style="margin-top: 100px">
    <h4 class="center">Edit Customer Details</h4>
    <form>
      <label>
        Id:
        <input type="text" [(ngModel)]="customer.id" name="id" />
      </label>
      <label>
        Name:
        <input type="text" [(ngModel)]="customer.name" name="name" required />
      </label>
      <label>
        Products:
        <input type="text" [(ngModel)]="productString" name="products" required />
      </label>
      <label>
        Purchase Date:
        <input
          type="date"
          [(ngModel)]="customer.purchaseDate"
          name="purchaseDate" required
        />
      </label>
      <label>
        Purchase Amount:
        <input
          type="number"
          [(ngModel)]="customer.purchaseAmount"
          name="purchaseAmount" required
        />
      </label>
      <button (click)="updateCustomer()">Update</button>
      <!-- Button to update -->
    </form>
  </div>
  }
</div>
