/* Container for the form */
.form-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
}
.edit-customer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px; 
  }

  form {
    display: flex;
    flex-direction: column;
    min-width: 350px;
    max-width: 800px; 
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  label {
    display: flex;
    flex-direction: column; 
    margin-bottom: 10px;
    font-weight: bold; 
    font-size:12px;
    
  }
  
 
  input {
    padding: 8px;
    border: 1px solid #ccc; 
    border-radius: 4px;
    font-size: 14px;
  }

  button {
    all: unset; 
    padding: 10px 15px;
    color: white;
    text-align: center;
    border-radius: 4px;
    cursor: pointer; 
    transition: all 0.3s; 
  }
  .success{
    background-color: #4CAF50; 

  }
  .invalid{
    background-color: #9f9f9f; 
    color:white;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
 
  @media (max-width: 768px) {
    form {
      padding: 15px; 
    }
  
    label {
      font-size: 14px; 
    }
  
    input {
      font-size: 12px;
    }
  }
  .center{
    text-align: center;
  }